html{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body{
    font-family: Lato,'Cabin', SimSun,sans-serif;
    font-weight: 600;
    color:#959da6;
    font-size:14px;
    position:relative;
    background: url("../image/dark-velvet/bg.png");
    padding-top: 70px;
}

/*row{*/
/*}*/