*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    color: lightseagreen;
    background-color: oldlace;
}

.container{
    margin: 20px 10% 20px 10%;
    /*position: relative;*/
}

.container>div{
    float: left;
    overflow: scroll;
    width: 45%;
    height: 180px;
    position: relative;
}

.description{
    margin: 10px 10px;
    padding-right: 10px;
    border: 5px double #f7bc83;
    border-right-style: hidden;
    border-radius: 0 50px 20px 50px;
}

p{
    margin: 5px 10px 5px 30px;
}

button{
    margin: 6px 10px 5px 40px;
    padding: 3px 5px 3px 5px;
    line-height: 20px;
    text-align: center;
    text-shadow: 1px 0 3px #aaaaaa;
    background-color: oldlace;
    border-radius: 5px;
    border: 1px ridge #333333;
    box-shadow: 1px 0 3px #aaaaaa;
}

.topic{
    font-size: 18px;
    margin: 15px 10px 8px 20px;
    color: #c47c6c;
}

.test{
    margin: 10px 10px;
    /*padding-left: 30px;*/
    /*padding-top: 30px;*/
    /*padding-right: 10px;*/
    border: 5px double #6d68e5;
    border-right-style: hidden;
    border-radius: 0 50px 20px 50px;
}

#div-drag{
    background-color: peachpuff;
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 10px;
}

#div-drag2{
    background-color: cornflowerblue;
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-right: 10px;
}

#div-imgContainer{
    background-color: cornflowerblue;
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 10px;
}