@font-face {
    font-family: secret;
    src: local("Kunstler Script"), url('../font/kunstlerscript.ttf')format("truetype");

}

body{
    /*font-family: secret;*/
    /*font-size: 32px;*/
    background-color: black;
}

.secret{
    /*background-image: url("../image/secret.png");*/
    /*background-size: auto;*/
    background-color: black;
    /*background-repeat: no-repeat;*/
    /*height: 394px;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.miss{
    margin-left: 20%;
    margin-right: 20%;
}

.miss-title{
    color: grey;
    text-shadow: 0px 0px 20px white;
    text-align: center;
}

.miss-passage{
    color: white;
    text-shadow: 0px 0px 20px white;
    /*shad*/
}

.music{
    line-height: 2em;
    overflow: hidden;
    padding: 120px 60px;
    text-align: center;
}