@font-face {
    font-family: fButterfly;
    src: local("翩翩体"), url("../font/华康细版翩翩体.ttf")format("");
}

body{
    background-color: oldlace;
    margin-top: 0px;
}

body > .container{
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: chocolate;
    border-radius: 10px;
}

h2{
    text-align: center;
    color: #c47c6c;
    font-family: "翩翩体", fButterfly, KaiTi;
    font-weight: 900;
}

h3{
    text-align: left;
    color: saddlebrown;
}

.content{
    color:lightseagreen;
}

.title{
    font-family: FangSong, Georgia, Times, "Times New Roman", serif;
    /*color: darkblue;*/
    margin-bottom: 10px;
    color: chocolate;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 16px;
}

.outline{
    text-indent: 28px;
    color: dimgrey;
    margin: 10px 5%;
    font-size: 14px;
}

.comment{
    font-family: "翩翩体", fButterfly, KaiTi;
    margin: 10px 5%;
    font-size: 15px;
    text-indent: 30px;
}

.picture{
    text-align: center;
    background: -webkit-linear-gradient(left, oldlace, #fde498 10%, #f7bc83 20%, #c47c6c 50%, #f7bc83 80%,#fde498 90%, oldlace 100%);
    background: -moz-linear-gradient(left, oldlace, #fde498 10%, #f7bc83 20%, #c47c6c 50%, #f7bc83 80%,#fde498 90%, oldlace 100%);
    background: -o-linear-gradient(left, oldlace, #fde498 10%, #f7bc83 20%, #c47c6c 50%, #f7bc83 80%,#fde498 90%, oldlace 100%);
    background:  linear-gradient(to right, oldlace, #fde498 10%, #f7bc83 20%, #c47c6c 50%, #f7bc83 80%,#fde498 90%, oldlace 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f0,endColorstr=oldlace,GradientType=0);*/
    margin-bottom: 20px;
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
}

.picture img{
    width: 70%;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.top_comment{
    font-family: "翩翩体", fButterfly, KaiTi;
    margin: 10px 5%;
    color: #c47c6c;
    font-size: 15px;
    text-indent: 30px;
}

.drop-pages .content .title{
    font-family: FangSong, Georgia, Times, "Times New Roman", serif;
    color: darkblue;
}