@font-face {
    font-family: fButterfly;
    src: local("翩翩体"), url("../font/华康细版翩翩体.ttf")format("");
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: #313ba3;
    /*color: #6d68e5;*/
}

.container{
    margin: 20px 20px;
}

ul{
    color: #6d68e5;
    font-family: "翩翩体", fButterfly, KaiTi;
    margin: 32px 10%;
}

[id ^= "todolist"]{
    color: #c799e6;
    font-size: 20px;
    font-family: "翩翩体", fButterfly, KaiTi;
}

[id ^= "already"]{
    color: #ffffff;
    font-size: 20px;
    font-family: "翩翩体", fButterfly, KaiTi;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.5);
    margin-left: 8%;
}

/*[id = "already201601"]{*/
    /*border-top: rgba(220, 82, 230, 1) dotted 3px;*/
    /*padding-top: 20px;*/
/*}*/

.tododiv{
    border: 5px solid #c799e6;
    margin: 32px 10%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(199,53,230,0.5);
    text-shadow: 3px 3px 5px rgba(199,53,230,0.5);
}

.others{
    margin: 32px 18%;
}

.lline{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    border: none;
    border-top: rgba(220, 82, 230, 1) dotted 3px;
}

.sline{
    margin-top: 12px;
    margin-bottom: 12px;
    height: 2px;
    border: none;
    border-top: #c799e6 dotted 3px;
}